.Grid {
  display: flex;
  padding-left:207px;
  
}

.Grid-cell {
  flex: 1;
}

.banner{
    margin-top:-25px;
   margin-left:-7px;
   margin-right:-20px;
    width:105%;
    height:400px;
}


@media (min-width:768px){

.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}
.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%
}
.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%
}
.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%
}
}