@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

html {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color:black;
}

nav {
    list-style-type: none;
    padding: 1%;
    text-align: center;
    display: block;
    padding-top: 20px;
    margin: 0%;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FF6302;
    box-shadow:0 0 20px 0;
}

nav a {
    text-decoration: none;
    color: tomato;
    padding: 2%;
    font-family: 'Yantramanav', sans-serif;
}

nav a:hover {
    color: white;
}




.grid {
    display: flex;
    padding-left: 5.6%;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-wrap: wrap;
}



.banner {
    margin-top: -30px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-wrap: wrap;
    justify-content: evenly;
}

.active a {
    color: white;
}

.grid-cell {
    flex: 1;
    margin-bottom: 3.3%;
    padding-right:2%;
}

.items {
    flex: 1;
    flex-wrap: wrap;
    padding-left: 4.3%;
    padding-bottom: 1.9%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: evenly;
    align-content: center;
    margin-top: .8%;
}



.space {
    margin: auto;
}




body {
    margin: 0%;
    /*bottom:0;*/
    /*position:relative;*/
}

nav a {
    text-decoration: none;
    color: black;
    padding: 2%;
    font-family: 'Yantramanav', sans-serif;
}


/* 5. style nav-item in desktop view*/

.nav-item {
    display: inline-block;
    margin-right: 5px;
    padding-left: 3%;
    padding-right: 3%;
    white-space: nowrap;
}

h1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 2em;

}

h2 {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    color: white;
}

p {
    font-size: 1.3em;
    text-align: center;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    width: 40%;
    margin: auto;
}

.nav-toggle {
    display: none;
    border: none;
    background: none;
    color: white;
    margin-bottom: 13px;
}

.cater {
    margin: auto;
    display: block;
}

.myslides{
    height:400px;
}

.order {
    width: 80%;
    margin: auto;
}


footer {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 4px white;
    margin: 0%;
    background-color:grey;
    bottom: 0;
    color: white;
    /*position:absolute;*/
    width: 100%;
    justify-content: space-around;

}

.day {
    text-align:left;
}

td .days {
    text-align:left;
}

.hourz {
     text-align:right;

}

td .time {
         text-align:right;

}



.contact {
    /*border:solid;*/
    width: 30%;
    display: flex;
    flex-direction: column;
    order: 1;
    line-height:2em;
}



.order {
    width: 100%;
    margin: auto;
}

.embed form {
    padding: 7% !important;
}



.footerh1 {
    font-size: 2em;
}

.footerp {
    font-size:1em;
    margin: 0 auto;     
    line-height: 2em;     
    width: 100%;
}

.social {
    display: inline-block;
    border-color: white;
    /*background-color: green;*/
    background-size: 100%;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    padding: 0;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    order: 2;
    /*border:solid;*/
    width: 30%;
}

.hours {
    order: 2;
    /*border:solid;*/
    width: 30%;
}

.foot {
    list-style: none;
    height: 95%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    
}


@media (max-width: 700px) {
    .foot {
        flex-direction:row;
        /*padding-top:2e;*/
    }
    .nav-toggle {
        display: block;

    }
    li {
        display: block;
        padding-top: 25px;
        margin-left: -15%;
    }

    .mobile-nav-hidden {
        display: none;
    }

    .nav-item {
        display: block;
    }

.slideshow{
    display:none;
}

    .menu {
        flex-direction: column;
        justify-content: center;
    }
    
   

    body {
        /*padding:7%;*/
    }

    main {
        padding: 7%;
    }
    .cmedia {
        padding: 7%;

    }


    footer {
        /*flex-direction:column;*/
    }
    .contact {
        width: 100%;
    }
    .hours {
        width: 100%;
    }
    .icons {
        width: 100%;
        order:3;
    }
    
}




footer a {
    color: grey;
    text-decoration: none;
}

footer a:hover {
    font-size: 1.5em;
    /*box-shadow: 10px 10px 5px black;*/
}

table {
    margin-left: auto;
    margin-right: auto;
}


/*inside the footer*/

main {

    padding-top:7.5em;
    padding-bottom:4%;
    width: 80%;
    margin: auto;
}

.orderonline {
    font-family: 'Raleway Dots', cursive;
    text-align: center;
    color: black;
    padding-top: 8.5%;
    font-size: 10em;
}

.text {
    font-size: 3em;
}


.push {
    height: 100px;
    width: 300px;
    padding-right: 20px;
    margin-right: 40px;
}

input[type=text] {
    width: 100%;
}

select {
    font-size: .85em;
    margin: 30px;
}

form {
    width: 1000px;
    margin: 0 auto;
    font-size: 1.9em;
    margin-top: 90px;
    word-spacing: 10px;
    /*word-wrap: break-word;*/
}

button {
    height: 10%;
    width: 10%;
}




.noI {
    width: 70%;
}



.locate {
    display: flex;   
    /*border: 2px solid;*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    width: 75%;
    margin: auto;
    padding: 2%;
}

.mapinfo {
    border: 2px solid;
    box-sizing: border-box;
    /*border-radius: 5%;*/
    width: 50%;
    background-color: rgba(232,232,232, 0.5);
}

.seven {
    font-size: 1.5em;
}

.l {
    width:70%;
    margin: auto;
    /*border-width: 100%;*/
    text-align: center;
}

.info {
    width: 90%;
    margin: initial;
    color: black;
    text-align: left;
    margin-left: 1em;
    font-size: 1.3em;
    margin-bottom: 5em;
    line-height: 1.5em;
}

.map {
    border: 2px solid;
    box-sizing: border-box;
    /*border-radius: 5%;*/
    overflow: hidden;
    /*height: 600px;*/
    width: 50%;
}

iframe {
  width: 100%;
  height: 100%;
}

.line {
    border-bottom: 2px solid ;
} 
@media  (max-width : 700px){

.map{
    display:none;
}
.mapinfo{
    position:relative;
    margin: auto;
    width: 90%;
    
}
.locate{
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    margin-top: 2em;
}

.map-button {
    margin-bottom: 1em;
    white-space: nowrap;
}

main {
    padding-top:em;
}

}


.map-button {
    background-color: #357AE8;
    width: 82px;
    /*margin-left: 1.5em;*/
    padding: 1em;
    border: solid 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    border-radius: 8px;
    white-space: nowrap;
    color: white;
    text-decoration: none !important;
}

.map-button-link {
    text-decoration: none;
}

.fa {
    margin-right: 2px;
}

.fa-twitter-square {
    color: white;
}

.fa-facebook-square {
    color: white;
}